.appContainer {
  display: flex;
  margin: 20px;
}

.formContainer {
  display: flex;
  flex-direction: column;
}

.bookListContainer {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.bookContainer {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  border-radius: 10px;
  border: solid;
  border-width: 1px;
}

.bookInfoContainer {
  display: flex;
  flex-direction: column;
  padding: 10px
}
.buttonContainer {
  display: flex;
  flex-direction: row;
}

.descriptionInputField {
  width: 400px;
  height: 100px;
  font-family: 'Segoe UI';
}

button {
  margin-top: 48px;
  margin-right: 10px;
  width: 90px;
  max-height: 30px;
}

input {
  width: 400px;
  font-family: 'Segoe UI';
}